@font-face {
  font-family:'p5hatty';
  src: url("../assets/p5hatty.eot"); /* IE9 Compat Modes */
  src: url("../assets/p5hatty.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../assets/p5hatty.otf") format("opentype"), /* Open Type Font */
       url("../assets/p5hatty.svg") format("svg"), /* Legacy iOS */
       url("../assets/p5hatty.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../assets/p5hatty.woff") format("woff"), /* Modern Browsers */
       url("../assets/p5hatty.woff2") format("woff2"); /* Modern Browsers */
  font-style:normal;
  font-weight:100;
}

/* the entire page uses the Persona 5 font */
*:not(code) {
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color:#314A51;
  color:#fff;
  margin:0;
}

/* the sidebar stuff */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#fff;
  text-decoration:none;
}

.sidebar ol, .sidebar h2 {
  margin-left:20px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-top:100px;
  float:left;
  position:fixed;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* these next several blocks of code are repeated from the main page */
/* all of the content for this page is in a container */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* main header repeated on main page */
#main-header{
  /* style and colors */
  /* the color of the header goes through a rainbow gradient */
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  color:#fff;

  /* positioning */
  position:fixed;
  height:75px;
  width:100%;

  /* animations for the rainbow gradient */
  -webkit-animation: rainbow 18s ease infinite;
  -moz-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* for the text links (About and Projects) on the main header */
#main-header a{
  /* style and colors */
  color: #fff;

  /* positioning */
  padding: 10px 0px;

  /* text formatting */
  text-decoration: none;
  font-size:36px;
  line-height: 2em;
  font-family:'p5hatty', sans-serif;
}

/* every link in the navigation bar is evenly spaced, and glows when hovered over */
.navigation {
  display:flex;
  justify-content:space-around;
}

.navlink:hover {
  filter: drop-shadow(0px 0px 10px white);
}

/* end of repeat */

/* top of the page, the first visuals you see when loading the page */
#top {
  text-align:center;
}

#top h1 {
  font-size:36px;
  color:#00C98F;
}

/* the Codepath logo */
#logo {
  margin-top:150px;
  margin-bottom:-30px;
  width: 40%;
}

/* these are all the links in the Table of Contents */
.doc-section, .project-link {
  color:#ccc;
  font-weight:bold;
  text-decoration:none;
}

.doc-section:hover, .project-link:hover {
  color:#fff;
}

.ext-link{
  color:#40e0d0;
}

.ext-link:visited{
  color:#ff00ff;
}

pre {
  font-size:14px;
  background-color:#444;
  border:2px #111 solid;
  overflow-x:auto;
}

.code-name {
  background-color:#333;
  border-radius:5px;
  padding:5px;
  font-size:14px;
}


.project-container {
  display:flex;
  justify-content:space-around;
}

.description {
  font-size:18px;
  margin-left:30px;
}

.recycler-component {
  margin-left:30px;
}

#main-footer{
  /* style and colors */
  background: #333;
  color:#fff;

  /* positioning */
  padding:10px;

  /* text formatting */
  text-align: center;
}

@media(max-width:1000px) {
  #logo {
    width:60%;
    margin-bottom:-15px;
  }
  #top h1 {
    font-size:24px;
  }
  .recycler-component {
    margin-left:0px;
  }
  .project-container {
    flex-wrap:wrap;
  }
}
